h1{
    font-family: sans-serif;
}
p{
    font-weight: 600;
}

body{
    font-size: 16px;
}
p{
    font-size: 3em;
}
li{
    background-color: rosybrown;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline black;
}
#Am{
    background-color: yellow;
}
#Ver{
    background-color: red;
}
#Marr{
    background-color: brown;
}