body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 568px) {

    body h1 {
        font-size: 1.5rem;
    }

    body p {
        font-size: 1.2rem;
    }

    body figure {
        padding: 20px;
    }
}
